@charset "ut-8";

header {
  position: absolute;
}

.header_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 7% 0 3%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 104px;
}

.header_logo {
  width: 226px;
}

.pc_nav ul {
  display: flex;
}

.pc_nav ul li {
  width: 106px;
  text-align: center;
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
    "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
  font-weight: bold;
  color: #fff;
  font: size 18px;
}

.トップページ {
  text-align: center;
  margin-bottom: 104px;
}

.トップページ_文章 {
  text-align: center;
  margin: 0 auto;
}

.文章_サブタイトル {
  font-size: 30px;
  margin-bottom: 57px;
}

.文章_タイトル {
  font-size: 82px;
  line-height: 96;
  margin-bottom: 50px;
}

.テキスト {
  font-size: 23px;
  line-height: 38;
}
