@charset "ut-8";

header {
  position: relative;
}

.sp_nav,
.sp_btn {
  display: none;
}

@media screen and (max-width: 1100px) {
  .pc_nav {
    display: none;
  }
  .sp_btn {
    display: block;
    height: 23px;
    cursor: pointer;
    position: absolute;
    right: 24px;
    z-index: 2;
  }
  .sp_btn span {
    display: block;
    width: 33px;
    height: 3px;
    background-color: #fff;
    border-radius: 2px;

    position: relative;
    top: 10px;
    transition: 0.3s;
  }

  .sp_btn span::before,
  .sp_btn span::after {
    content: "";
    display: block;
    width: 33px;
    height: 3px;
    background-color: #fff;
    border-radius: 2px;

    position: absolute;
    transition: 0.3s;
  }
  .sp_btn span::before {
    bottom: 10px;
  }
  .sp_btn span::after {
    top: 10px;
  }

  .sp_btn.open span {
    background-color: transparent;
  }
  .sp_btn.open span::before {
    bottom: 0;
    transform: rotate(45deg);
  }
  .sp_btn.open span::after {
    top: 0;
    transform: rotate(-45deg);
  }

  .sp_nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1;
  }
  .sp_nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 40px;
  }
  .sp_nav ul li {
    color: #fff;
    font-size: 18px;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
      "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
  }
}

.header_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 7% 0 3%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 104px;
}

.header_logo {
  width: 226px;
}

.pc_nav ul {
  display: flex;
}

.pc_nav ul li {
  width: 106px;
  text-align: center;
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
    "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
  font-weight: bold;
  color: #fff;
  font: size 18px;
}

.hero_inner {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 104px;
  margin-top: 108px;
}

.hero_subtitle {
  font-size: 30px;
  margin-bottom: 57px;
}

.hero_title {
  font-size: 82px;
  line-height: 1.17;
  margin-bottom: 50px;
  letter-spacing: 0.1em;
}

.hero_text {
  font-size: 23px;
  line-height: 1.65;
}

.about {
  padding: 60px 0;
}

.about_container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1100px;
  margin: 0 auto;
}

.about_image img {
  width: 500px;
  height: auto;
  border-radius: 0 0 50px 0;
}

.about_text {
  margin-left: 40px;
  max-width: 500px;
}

.about_title {
  max-width: 100%;
  height: auto;
  display: block;
  margin-bottom: 63px;
}

.about_text h2 {
  font-size: 44px;
  margin-bottom: 38px;
  line-height: 1.38;
}

.about_text p {
  font-size: 16px;
  line-height: 1.62;
}
